<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@user.photo) %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% @user_games.each do |game| %>
  Game:<%= game.id %><br>
  <%= game.player1.username %>
  vs. 
  <% if game.player2 != nil %>
  <%= game.player2.username %><br>
  <% else %>
  Computer<br>
  <% end %>
  Date: <%= game.created_at %><br>
  <%= link_to('View Current Status/Result', game)%>
  <br>
  <br>
<% end %>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
