<p id="notice"><%= notice %></p>


<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>

<div class = 'user_info'>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <%= image_tag(@user.photo, class: 'profile_photo') %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
</div>
<div class = 'user_games'>
<p>
<% @user_games.each do |game| %>

  Game:<%= game.id %><br>
  <%= game.player1.username %>
  vs. 
  <% if game.player2 != nil %>
  <%= game.player2.username %><br>
  <% else %>
  Computer<br>
  <% end %>

  Date: <%= game.created_at %><br>
  <%= link_to('View Current Status/Result', game)%>
  <br>
  <br>
<% end %>
</p>
</div>

