<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @move.move %>
</p>

<p>
  <b>player:</b>
  <%= @move.player_id %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
