<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @move.move %>
</p>

<p>
  <b>player:</b>
  <%= @move.player_id %>
</p>

<%= link_to 'Edit', edit_game_move_path(@move.game, @move) %> |
<%= link_to 'Back', game_moves_path(@move.game) %>
