<div class = 'middle'>

    <h2>Listing Games</h2>

    <% @games.each do |game| %>
        <td><%= link_to 'Show', game %></td>
        <td><%= game.player1.username %></td>
        <% if (game.player2 != nil) %>
            <td><%= game.player2.username %></td>
        <% end %>
        <td><%= game.created_at %></td>
        <% if (game.winner != nil) %>
            <td><%= @game_winner %></td>
        <% end %>
        <br>
    <% end %>

</div>
