<table >
  <tr>
    <td><%= link_to new_game_move_path(@game, move: 0) do %><div></div><% end %></td>
    <td><%= link_to new_game_move_path(@game, move: 1) do %><div></div><% end %></td>
    <td><%= link_to new_game_move_path(@game, move: 2) do %><div></div><% end %></td>
  </tr>
  <tr>
    <td><%= link_to new_game_move_path(@game, move: 3) do %><div></div><% end %></td>
    <td><%= link_to new_game_move_path(@game, move: 4) do %><div></div><% end %></td>
    <td><%= link_to new_game_move_path(@game, move: 5) do %><div></div><% end %></td>
  </tr>
  <tr>
    <td><%= link_to new_game_move_path(@game, move: 6) do %><div></div><% end %></td>
    <td><%= link_to new_game_move_path(@game, move: 7) do %><div></div><% end %></td>
    <td><%= link_to new_game_move_path(@game, move: 8) do %><div></div><% end %></td>
  </tr>
</table>