<p>Player 1: <%= @game.player1.username %></p>
<p>Player 2: <%= @game.player2.username %></p>

<%= @board.inspect %>
<% if (@game.winner != nil) %>
<%= @game.winner.username %>
<% end %>
<%#= @game_winner%>
<%= @last_player.inspect %>
<%= @result.inspect %>
<meta http-equiv="refresh" content="5">

<div class = 'board'>
  <% @board.each_with_index do |move, square_id| %>

  <% if move == 'X' %>
  <%= image_tag('x.png', class: "letter") %>
  <% elsif move == 'O' %>
  <%= image_tag('o.png', class: "letter") %>
  <% else %> 

  <% if current_user.id != @last_player %>
    <%= link_to new_game_move_path(@game, move: square_id) do %>
    <div class = 'letter'></div>
    <% end %>
  <% else %>
    <div class = 'letter'></div>
  <% end %>

  <% end %>
  <% end %>
</div>