<!DOCTYPE html>
<html>
<head>
  <title>TicTacToe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>TIC - TAC - TOE</h1>
  </header>
  <nav>
      <%= link_to('Home', root_path)%> |
      <%= link_to('Register', new_user_path)%> |
      <%= link_to('Log In', new_session_path)%> |
      <%= link_to('Profile', current_user)%> |
      <%= link_to('Play', new_game_path)%> |
        <%= link_to('Log Out', logout_path) %>
  </nav>
  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
  <% end %>
  <% if current_user %>
    <p>hello <%= current_user.email %></p>
  <% end %>
<%= yield %>

</body>
</html>
